<div *ngIf="mesage" class="alert alert-success" role="alert">
  {{mesage}}
</div>
<hr>

<div class="container">
  <div class="card" >
    <a (click)="onSubmitEditUser()"  class="btn btn-success" >Create User</a>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <input (ngModelChange)="onValidationForm()" class="form-control" type="text" placeholder="Name" [(ngModel)]="userEdit.nome" >
        <small *ngIf="userMensageError.nome" style="color: red;"> {{userMensageError.nome}} </small>
        
      </li>
      <li class="list-group-item">
        <input (ngModelChange)="onValidationForm()" class="form-control" type="text" placeholder="Login" [(ngModel)]="userEdit.login" >
        <small *ngIf="userMensageError.login" style="color: red;"> {{userMensageError.login}} </small>
      </li>  
      <li class="list-group-item">
        <input (ngModelChange)="onValidationForm()" class="form-control" type="text" placeholder="Senha" [(ngModel)]="userEdit.novaSenha" >
        <small *ngIf="userMensageError.novaSenha" style="color: red;"> {{userMensageError.novaSenha}} </small>
      </li>
      <li class="list-group-item">
        <input (ngModelChange)="onValidationForm()" class="form-control" type="text" placeholder="Confirme Senha" [(ngModel)]="userEdit.confirmSenha" >
        <small *ngIf="userMensageError.confirmSenha" style="color: red;"> {{userMensageError.confirmSenha}} </small>
      </li>
    </ul>
    <div class="card-footer">
      <a (click)="onCancelEdit()" class="btn btn-danger">Cancel</a>
    </div>
  </div>

</div>